

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; }
img { border: 0px; font-family: "Helvetica Neue", Helvetica, arial, sans-serif;}
/* Force the vertical scrollbar in FF */
html { overflow-y: scroll; }

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}

section {
	width:990px;
	margin:50px auto 0 auto;
}

section .venue {
	margin-bottom:20px;
	border:solid 1px #ccc;
	padding:20px;
}

section h2 {
	font-family:'Gotham 7r',"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#2a2a2a;
	margin-bottom:10px;
	font-size:19px;
	line-height:39px;
}

section p {
	margin-bottom:10px;
}

section #query {
	padding:10px;
	border:solid 1px #ccc;
	font-size:18px;
	color:#ccc;
}

section #query.focus, section #query:focus {
	color:#2a2a2a;
}

section #submit {
	margin-bottom:20px;
}

#venues {
	position:relative;
	z-index:100;
	height:600px;
	width:50%;
	overflow-y:auto;
	top:1px;
	background-color:rgba(0,0,0,0.2);
}

.venue {
	border:solid 1px #ccc;
	padding:20px;
	background-color:#fff;
	margin-top:10px;
	width:85%;
	margin:10px auto 10px auto;
	border-radius:10px;
}

.venue .icon {
	margin-left:20px;
	margin-top:10px;
	width:16px;
	height:16px;
}

.rating {
	padding:10px;
	background-color:#69BF13;
	font-size:14px;
	border-radius:5px;
	color:#fff;
	margin-left:15px;
}



#content {
	height:auto;
	margin-bottom:40px;
	margin-top:20px;
	position:relative;
	min-height:600px;
}

#mapcontainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#map {
	top:0;
	width: 100%;
	height: 100%;
	border:solid 1px #ccc;
}
