html {
	scroll-behavior: smooth;
}
#filler{
    height: 0px;
}
.scrollHeight{
    height: 600px;
}
.scrollable{
    max-height: 500px;
    overflow-y: auto;
}
.img-responsive{
    width: 100%;
    height: auto;
}

.hide {
  display: none;
}

.card-line{
    padding: 0;
    margin: 0
}
.headerImg{
    width: 100%;
}
#carouselExampleSlidesOnly{
    position: relative;
}
.carousel-item{
    height: 904px;
    width: 100%;
}
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s , -webkit-transform 2s;
  }
#locationAutocomplete{
    z-index: 2;
}

div.form-group{
    position:absolute;
    z-index:1;
    top:100px; /* change to whatever you want */
    max-width: 960px;
    margin: 0 auto;
    left:0;
    right:0;
    bottom:auto;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(29, 98, 177);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white ;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color:skyblue;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: lawngreen;
   
    color: blue;
    padding: 10px 15px;
    border: solid 1px black;
  }
  
  .openbtn:hover {
    background-color: skyblue;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* To top of page button */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff ;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  /* Fonts */
  .logoFont{
    font-family: 'Actor', sans-serif;
    font-size: 40px;
  }
  .cardFont{
    
    /* font-family: 'Lobster', cursive; */
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
  }